/* HEADER */
header.section .logo {
    font-size: 40px;
}

header.section .mobile-search {
    display: block;
}

header.section .search-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(15, 16, 20, .7);
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
    box-sizing: border-box;
    display: none;
}

header.section .search-area .search-close {
    display: block;
}

#form--search {
    width: 100%;
    border-radius: 0;
    background: none;
    box-shadow: none;
    border-bottom: 3px solid #F9FBFB;
}

#input--search {
    font-size: 16px;
}

/* SHOW MOVIE */
.section__show-movie .tab-menu .menu-items {
    font-size: 14px;
}

.section__show-movie .tab-menu .menu-items a {
    padding: 0 10px;
}

.section__show-movie .movie-display-area .movie-items {
    width: 100%;
}

.section__show-movie .movie-display-area .movie-items .movie__des .movie__title {
    font-size: 20px;
}

.section__show-movie .movie-display-area .movie-items .movie__des .grade,
.section__show-movie .movie-display-area .movie-items .movie__des .opening-date {
    font-size: 16px;
}

/* FOOTER */
footer.section .footer__logo {
    font-size: 25px;
}

footer.section .license {
    font-size: 12px;
}